$primary-color: #ffc87a;
$text-color: #1a2b5f;
html {
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;  
}
body {
    font-family: "Poppins", sans-serif ;
    color: $text-color;
}
img {
    display: block;
    max-width: 100%;
}
.box {
    width: 10rem;
    height: 10rem;
}
@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: flex-start ) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
    
}
@mixin size($width, $height : $width) {
    width: $width;
    height: $height;
}
// 1440px 1170
.wrapper {
    max-width: 100%;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.header {
    padding-top: 4rem;
    &__inner {
        @include flex(center, space-between );
    }
    &__menu {
        &-list {
           @include flex(center) 
        }
        &-item {
            margin-left: 5rem;
            &:last-child {
                margin-left: 7rem;
            }
        }
        &-link {
          font-size: 1.6rem;
          color: $text-color;
          transition: color .25s linear, border .25s linear;
          &:hover {
              color: $primary-color;
          }
        }
    }
    &__login {
        padding: 1.5rem 2.5rem;
        display: inline-block;
        border: 1px solid currentColor;
        border-radius: 2.5rem;
    }

    
}
.logo {
    font-size: 2rem;
    font-weight: 600;
    color: $text-color;
    &__text {
        color: $primary-color;
    }
}
.banner {
    padding-top: 15rem;
    padding-bottom: 15rem;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    &__heading {
        font-weight: 700;
        font-size: 6rem;
        margin-bottom: 3rem;
    }
    &__desc {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 4rem;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: stretch;
        .btn {
            margin: 0 1rem;
        }
    }
    &__footer {
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}
.btn {
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    color: $text-color;
    padding: 1.5rem 3rem;
    display: inline-block;
    border: 0;
    background-color: transparent;
    &--border {
        border: 1px solid currentColor;
        border-radius: 5rem;
        
    }
    &--rounded {
        border-radius: 5rem;
    }
    &--primary {
        background-color: $primary-color;
        &.has-shadow {
            box-shadow: 0 10px 35px $primary-color;
        }
    }

}
.category {
    &__list {
        @include flex(stretch, space-between, wrap);
    }
    &__item {
        width: calc(25% - 22.5px);
        padding: 2.5rem;
        background-color: white;
        border-radius: 20px;
        @include flex(stretch, flex-start, nowrap, column);
        &:first-child {
            box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.25);
        }
        &:nth-child(2){
            box-shadow: 0 20px 35px -5px rgba(255, 112,109, 0.25);
        }
        &:nth-last-child(2){
            box-shadow: 0 20px 35px -5px rgba(255, 152, 255, 0.25);
        }
        &:last-child {
            box-shadow: 0 20px 35px -5px rgba(255, 200, 122, 0.25);
        }
    }
    &__image {
        border-radius: inherit;
        object-fit: cover;
        margin-bottom: 4rem;
        @include size(100%, 23rem);
    }
    &__name,
    &__details {
        white-space: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__name {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    &__details {
        font-size: 1.4rem;
        color: $text-color;
        margin-top: auto;
        i {
            margin-left: 1.5rem;
        }
    }
}
.feature {
    padding-top: 18rem;
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 15rem;
        &:nth-child(odd){
            .feature__info {
                padding-left: 10rem;
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            .feature__info {
                padding-right: 10rem;
            }
        }
    }
    &__image,
    &__info {
        width: 50%;
    }
    // &__info {
    //     padding-left: 10rem;
    // }
    &__title {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
    }
    &__desc {
        font-size: 300;
        font-size: 1.4rem;
        margin-bottom: 4rem;
        line-height: 1.8rem;
    }
    &-intro {
        &__item {
            font-weight: 300;
            margin-bottom: 3rem;
            text-decoration: underline;
            font-size: 1.8rem;
            &--circle {
                text-decoration: none;
                position: relative;
                padding-left: 3rem;
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 2rem;
                    background-color: aqua;
                    transform: translateY(-50%);
                }
                &:nth-child(2):before {
                    background-color: #ffc87a;
                }
                &:nth-child(3):before {
                    background-color: #f00;
                }
                &:nth-child(4):before {
                    background-color: green;
                }
            }
        }
    }
    &-best {
        &__icon {
            width: 4rem;
            height: 4rem;
            border-radius: 5px;
            font-size: 2rem!important;
            display: flex!important;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            color: orange;
            position: relative;
            z-index: 1;
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-color: currentColor;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0.25;
            }
        }
        &__title {
            font-size: 1.8em;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        &__desc {
            font-weight: 300;
        }
        &__list {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: -5rem;
        }
        &__item {
            width: calc(50% - 3rem);
            margin-bottom: 5rem;
        }
    }
}